.bar {
  background-color: darken(white, 40%);
  width: calc(100vw - 1rem);
  border-radius: 0.1rem;
  text-align: center;
  max-width: 3rem;
  flex: 1 1 0;
  padding-top: 0.3rem;
  font-size: medium;
  border-radius: 0.2rem 0.2rem 0 0;
  margin: 0.2rem;
  &-active {
    background-color: #92d192;
  }
  &-selected {
    background-color: skyblue;
  }
  &-danger {
    background-color: #f2777a;
  }
}
